.acticle {
    flex-grow: 1;
    margin-left: 70px;
    padding: 0 10px 0 0;
}

// Адаптив

@media (min-width: 320px) and (max-width: 480px) {
    .acticle {
        margin-left: 10px;
    }
}

@media (min-width: 481px) and (max-width: 992px) {
    .acticle {
        margin-left: 0;
    }
}